body{
	background-color: MidnightBlue;
}
img{
	height: 300px
}
#the-image{
	text-align: center;
}
h1{
	text-align: center;
	color: white;
}
p{
	text-align: center;
	color: white;
}

.jumbotron-2{
	background-image: url('/static/blog/jumbo.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}

